html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

.site-container {
    width: 1200px;
    margin: 0 auto;
}

.site-container2 {
    width: 1000px;
    margin: 0 auto;
}

.header-background {
    background-color: white;
    height: 350px;
}

.welcomecontainer {
    width: 100%;
    display: flex;
    height: 225px;
}
.chubbylogo {
    flex-basis: 21.5%
}


.welcometext {
    flex-basis: 78.5%;
    font-weight: bold;
    font-size: 150px;
    font-family: sans-serif;
    transform: skew(-15deg,-9deg);
    text-shadow: 10px 10px #cccccc;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0 20px 0;
}

.nav > a {
    padding: 10px 30px 10px 30px;
    background-color: darkred;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: antiquewhite;
    box-shadow: 0 1px 1px black;
}

.nav > a:hover {
    color: darkred;
    background-color: antiquewhite;
    box-shadow: 0 2px 2px black;

}

.sectionbar {
    background-color: darkred;
    width: 100%;
    height: 60px;
    border-top: 2px solid darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;
}

.footertext {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
    color: antiquewhite;
}

.site-link {
    color: antiquewhite;
    font-style: italic;
}

.footerarea {
    width: 1000px;
    margin: 0 auto;
}

.return {
    color: antiquewhite;
}

/*End of header and footer for every page. More breaks will be made to show other pages.*/


                                     /*HOME PAGE CONTENT*/
.trending {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px #cccccc;
}

.pictureholder1 {
    display: flex;
    width: 1000px;
    height: 270px;
    justify-content: space-between;

}

.pictureholder1 p {
    text-align: center;
    font-weight: bold;
    margin: 3px;
}
.picture1 {
    height: 166px;
    width: 303px;
    margin-top: 5px;
    border: 2px solid darkred;
    box-shadow: 1px 1px 2px black;
}

.picture2 {
    height: 214px;
    width: 236px;
    margin-top: 5px;
    border: 2px solid darkred;
    box-shadow: 1px 1px 2px black;
}

.pictext {
    color: black;
}

.sectionbar2 {
    background-color: darkred;
    width: 100%;
    height: 10px;
    border-top: 2px solid darkgoldenrod;
    border-left: 2px solid darkgoldenrod;
    border-right: 2px solid darkgoldenrod;
}

.visit {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
}

.site-container3 {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.left-content {
    width: 50%;
    height: 300px;
    border-right: 5px solid darkred;
}

.right-content {
    display: flex;
    width: 50%;
    height: 300px;
    border-left: 5px solid darkred;
}

.hours-head {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.store-hours {
    font-size: 20px;
    text-align: center;
    margin-left: 165px;
}

.sectionbar3 {
    display: flex;
    justify-content: center;
    background-color: darkred;
    width: 100%;
    height: 40px;
    border-left: 2px solid darkgoldenrod;
    border-right: 2px solid darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;
}


                                            /*MENU PAGE*/

.menu-header {
    margin-top: 15px;
}

.menu-text {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
}

.menu-note {
    font-style: italic;
    text-align: center;
}

.menu-top {
    display: flex;
    border-bottom: 5px solid darkred;
    border-top: 5px solid darkred;
}

.body-left {
    flex-grow: 1;
}

.body-right {
    flex-grow: 3;
}

.menu-section {
    font-size: 40px;
    margin: 20px 0;
    text-shadow: 1px 1px 3px black;
}

.menu-section2 {
    font-size: 40px;
    margin: 15px 0 20px 0;
    text-shadow: 1px 1px 3px black;
}

.menu-item {
    margin: 10px 0 0 20px;
}

.item-description {
    margin: 0 0 20px 20px;
    font-style: italic;
}

.best {
    margin: -5px 0 10px 40px;
}

.last-item-description {
    margin: 0 0 15px 20px;
    font-style: italic;
    border-bottom: 4px solid darkred;
    padding-bottom: 15px;
}

.foodimage1 {
    margin-left: 175px;
    margin-top: 30px;
}

.foodimage2 {
    margin-top: 50px;
    margin-left: 175px;
}

.foodimage3 {
    margin-top: 70px;
    margin-left: 175px;
}

.foodimage4 {
    margin-top: 240px;
    margin-left: 150px;
}

.img-border {
    border: 3px solid darkred;
    box-shadow: 1px 1px 2px black;
}

.foodlabel {
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-bottom {
    display: flex;
}

.kids {
    flex-grow: 1;
    border-right: 2px solid darkred;
}

.sides {
    flex-grow: 2;
    border-left: 2px solid darkred;
    height: 300px;
}
.bottom-menu-title {
    text-align: center;
    font-size: 30px;
    margin: 15px;
    text-shadow: 1px 1px 3px black;
}

.small-menu-info {
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
.small-menu-items > li {
    font-size: 25px;
    float: left;
    width: 10em;
    margin-bottom: -2px;
}

                                /*ABOUT PAGE*/

.about {
    border-bottom: 4px solid darkred;
    padding-bottom: 10px;
    width: 65%;
    text-shadow: 2px 2px 3px #CCC;
}

.about-p {
    font-style: italic;
}

                                /*CONTACT PAGE*/

.contact-head {
    border-bottom: 4px solid darkred;
    margin-bottom: 4px;
}

.contact-heading {
    text-shadow: 2px 2px 3px #CCC;
}

.contact-body {
    display: flex;
    height: auto;
}

.right-input {
    flex-grow: 2;
    border-left: 2px solid darkred;
    height: 100%;
}

.left-input {
    flex-grow: 1;
}

.input1 {
    display: block;
    width: 400px;
    font-size: 1em;
    padding-left: 7px;
    border-radius: 7px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 2px black;
}

.input2 {
    width: 400px;
    height: 150px;
    font-size: 1em;
    padding-left: 7px;
    margin-bottom: 2px;
    border-radius: 7px;
    box-shadow: 1px 1px 2px black;
}

.submit {
    display: block;
    font-size: 1em;
    width: 150px;
    height: 50px;
    margin-bottom: 6px;
    box-shadow: 1px 1px 2px black;
}

.relative-logo {
    position: relative;
    left: 55px;
    top: 20px;
}

.form:first-child {
    margin-top: 20px;
}

.right-input h2 {
    text-align: center;
    margin-top: 40px;
}

.form2 {
    margin-top: 30px;
    margin-left: 120px;
}

.radio {
    display: inline-block;
}

.submit2 {
    margin: 20px 48px 48px 68px;
    display: block;
    font-size: 1em;
    width: 150px;
    height: 50px;
    box-shadow: 1px 1px 2px black;
}

                                    /*EVENTS*/

.event-head {
    width: 65%;
    border-bottom: 5px solid darkred;
    padding-bottom: 4px;
    font-size: 27px;
    text-shadow: 2px 2px 3px #CCC;
}

.event-h3 {
    font-size: 25px;
}

.event-p {
    font-size: 17px;
}
